.header .container{
  min-width: 80% !important;
}
.img img{
  width: inherit;
  height: 200px;
}
.why .number-block{
  height: 500px !important;
}
.why-us{
  min-height: 300px !important;
}




/*--------------------------------------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------------------------------------*/



.navigation {
display: inline;

}