.header .container{
  min-width: 90% !important;
}
.img img{
  width: inherit;
  height: 200px;
}
.why .number-block{
  height: 500px !important;
}
.why-us{
  min-height: 300px !important;
}

.navigation {
display: inline;
}
.form{
  width: 500px;
  margin: auto;
}
.half{
  width: 50%;
  float: left;
}
.forgot{
  width: fit-content;
  float: right;
}

.benifits-feature{
  padding-top:130px !important;
}

.mb40
{
  text-align: center !important;
}
h1.coming-soon{
  text-align: center !important;
  font-size: 90px;
  color: #fff;
  width:100%;
}
p.coming-soon{
  font-size: 20px;
  text-align: center !important;
}
a.coming-soon{
  margin: auto !important;
  display: block;
  width: fit-content;
}
